.formlicious-date-input {
    width: 150px;
}

.formlicious-cc-input {
    width: 250px;
}

.formlicious-cc-expiration select {
    display: inline-block;
}

.formlicious-cc-expiration select:first-child {
    width: 65px;
}

.formlicious-cc-expiration select:last-child {
    width: 80px;
}